.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

img {
  height: 200px;
  width: 120px;
}

.gallerylist{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  row-gap: 40px;
  column-gap: 20px;
}

.galleryitem{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description{
  height: 200px;
  width: 120px;
}